/* slide in right */
.slider{
    animation: 0.6s linear 0s 1 normal slideIn
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
        

        
    }
    to {
        transform: translateX(0%);
        opacity: 100;
        
    }
}

/* Slide in left */
.slidel {
    animation: 0.6s linear 0s 1 normal slideLeft
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
        

        
    }
    to {
        transform: translateX(0%);
        opacity: 100;
        
    }
}


.slideb {
    animation: 0.6s linear 0s 1 normal slideBottom
}

@keyframes slideBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
        

        
    }
    to {
        transform: translateY(0%);
        opacity: 100;
        
    }
}

.slidel2 {
    transform: translateX(0%);
    transition: transform 0.6s;
}

.slideh {
    transform: translateX(100%);
    transition: transform 0.6s ;
}

.slidelR {
    
    transform: rotate(180deg) translateX(40%);
    transition: transform 0.6s;
}

@keyframes slideHide {
   0%{
    opacity: 1;
    transform: translateX(0%);
   } 
   99%{
    opacity: 0;
    transform: translateX(100%);
   }
   100%{
    display: none;
   }
   
}


.modal-drop {
    animation: 0.4s ease-out 0s 1 normal modalDrop
}

@keyframes modalDrop {
    0%{
        opacity: 0%;
        transform: translateY(-100%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }


}


.shrinkAnim{
    animation: 1s linear 0s 1 normal coolShrink
}

@keyframes coolShrink {
    0%{
        scale: 100%
    }
    99%{
        scale: 0%
    }
    100%{
        
        opacity: 0;
    }
}