
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
        
    }
    to {
        transform: translateX(0%);
        opacity: 100;
    }
}




.slider {
    animation: 1s linear 0s 1 normal slideIn
}

